<!-- <div class="modal-backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-sign" data-modal-close>
      <svg class="vector" width="28" height="28">
        <use href="/src/img/symbol-defs.svg#icon-vector"></use>
      </svg>
    </button>
    <form name="formAuthorization" class="form-authorization">
      <input
        name="user-name"
        type="text"
        class="modal-input margin"
        placeholder="NAME"
        required
      />

      <input
        name="user-email "
        type="email"
        class="modal-input margin"
        placeholder="EMAIL"
        required
      />

      <input
        name="user-password "
        type="password"
        class="modal-input margin"
        placeholder="PASSWORD"
        required
      />

      <button type="submit" class="button-modal modal-input js-sendUp">
        SIGN UP
      </button>
      <button
        type="submit"
        class="button-modal modal-input is-display js-sendIn"
      >
        SIGN IN
      </button>
      <div class="modal-footer">
        <button class="modal-footer-link sign-up hover-color js-up">
          SIGN UP
        </button>
        <button class="modal-footer-link sign-in js-in">SIGN IN</button>
      </div>
    </form>
  </div>
</div> -->


<!-- // new Change -->

<div class="modal-backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-sign" data-modal-close>
      <svg class="vector" width="28" height="28">
        <use href="/src/img/symbol-defs.svg#icon-vector"></use>
      </svg>
    </button>
    <h2 class="user-name-id"></h2>
    <form id="auth-container"  name="formAuthorization" class="form-authorization">
      
      <input
        name=""
        type="text"
        id="name"
        class="modal-input margin js-name"
        placeholder="NAME"
        required
      />

      <input
        name=""
        type="email"
        id="email"
        class="modal-input margin js-email"
        placeholder="EMAIL"
        required
      />
      <svg class="start-icons mail" width="28" height="28">
        <use href="/src/img/symbol-defs.svg#icon-mail"></use>
      </svg>

      <input
        name=""
        type="password"
        id="password"
        class="modal-input margin js-password"
        placeholder="PASSWORD"
        required
      />
      <svg class="start-icons lock" width="28" height="28">
        <use href="/src/img/symbol-defs.svg#icon-lock"></use>
      </svg>

      <button type="button" id="signup-btn" value="signup-btn"  class="button-modal modal-input js-sendUp">
        SIGN UP
      </button>
      <button
        type="button"
        id="sign-in-Btn"
        class="button-modal modal-input is-display js-sendIn"
      >
        SIGN IN
      </button>
      <div class="modal-footer">
        <button  type="button" id="signup-change-btn" class="modal-footer-link sign-up hover-color js-up center-margin-up">
          SIGN UP
        </button>
        <button type="button"   id="signin-btn" class="modal-footer-link sign-in js-in center-margin-in">SIGN IN</button>
          </div>
    </form>
    <button type="button" id="signout-btn" class="modal-footer-link   is-display js-sign-out">SIGN OUT</button>
  </div>
</div>








<!-- <div id="comments-container" style="display: none;">
  <h2 id="user-name"></h2>
  <input type="text" id="comment-input" placeholder="Напишіть коментар">
  <button id="add-comment-btn">Додати коментар</button>
  <button id="signout-btn">Вийти</button>
  <div id="comments"></div>
</div> -->

</div>
