<!-- <div>
  <div id="auth-container">
    <h2>Реєстрація</h2>
    <input type="text" id="name" placeholder="Ім'я">
    <input type="email" id="email" placeholder="Email">
    <input type="password" id="password" placeholder="Пароль">
    <button id="signup-btn">Зареєструватися</button>
    <button id="signin-btn">Увійти</button>
  </div>

  <div id="comments-container" style="display: none;">
    <h2 id="user-name"></h2>
    <input type="text" id="comment-input" placeholder="Напишіть коментар">
    <button id="add-comment-btn">Додати коментар</button>
    <button id="signout-btn">Вийти</button>
    <div id="comments"></div>
  </div>

</div> -->