<container class="container-best-sellers">
  <section>
    <h1 class="best-sellers-header">
      Best Sellers <span class="header-span">Books</span>
    </h1>
    <h2 class="best-sellers-second-header">COMBINED PRINT & E-BOOK FICTION</h2>
    <ul class="best-sellers-books-list best-sellers-books-list-1"></ul>
  </section>
  <section>
    <h2 class="best-sellers-second-header">COMBINED PRINT & E-BOOK NONFICTION</h2>
    <ul class="best-sellers-books-list best-sellers-books-list-2"></ul>
  </section>
  <section>
    <h2 class="best-sellers-second-header">HARDCOVER FICTION</h2>
    <ul class="best-sellers-books-list best-sellers-books-list-3"></ul>
  </section>
  <section>
    <h2 class="best-sellers-second-header">HARDCOVER NONFICTION</h2>
    <ul class="best-sellers-books-list best-sellers-books-list-4"></ul>
  </section>
</container>
