<section class="container-best-sellers">
  <div class="swiper">
    <h1 class="best-sellers-header">
      Best Sellers <span class="header-span">Books</span>
    </h1>
    <h2 class="best-sellers-second-header">COMBINED PRINT & E-BOOK FICTION</h2>
    <div class="swiper-1">
      <ul
        class="best-sellers-books-list best-sellers-books-list-1 swiper-wrapper"
      ></ul>
      <div class="button-box">
        <div class="swiper-button-prev swiper-btn">
          <svg class="prev-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper-btn">
          <svg class="next-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper">
    <h2 class="best-sellers-second-header">
      COMBINED PRINT & E-BOOK NONFICTION
    </h2>
    <div class="swiper-2">
      <ul
        class="best-sellers-books-list best-sellers-books-list-2 swiper-wrapper"
      ></ul>
      <div class="button-box">
        <div class="swiper-button-prev swiper-btn">
          <svg class="prev-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper-btn">
          <svg class="next-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper">
    <h2 class="best-sellers-second-header">HARDCOVER FICTION</h2>
    <div class="swiper-3">
      <ul
        class="best-sellers-books-list best-sellers-books-list-3 swiper-wrapper"
      ></ul>
      <div class="button-box">
        <div class="swiper-button-prev swiper-btn">
          <svg class="prev-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper-btn">
          <svg class="next-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper">
    <h2 class="best-sellers-second-header">HARDCOVER NONFICTION</h2>
    <div class="swiper-4">
      <ul
        class="best-sellers-books-list best-sellers-books-list-4 swiper-wrapper"
      ></ul>
      <div class="button-box">
        <div class="swiper-button-prev swiper-btn">
          <svg class="prev-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper-btn">
          <svg class="next-icon">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</і>
