<header class="header container">
  <div class="header-container">
    <!-- <h1>Header</h1> -->
    <ul class="header-logo-list">
      <li class="header-logo-item">
        <a class="header-link" href="/src/main.html">
          <svg class="header-svg-logo">
            <use href="./img/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
      </li>
      <li class="header-logo-item">
        <a class="header-link" href="/src/main.html">Bookshelf</a>
      </li>
    </ul>

    <nav id="header-auth" class="header-nav is-display">
      <ul class="header-nav-list">
        <li class="header-nav-item active-home active">
          <a class="header-nav-link" href="/src/main.html">HOME</a>
        </li>

        <li class="header-nav-item active-shoping">
          <a class="header-nav-link" href="/src/shoping_list.html"
            >SHOPPING LIST
            <svg class="header-uli-svg">
              <use href="./img/symbol-defs.svg#icon-uil_cart"></use></svg
          ></a>
        </li>
      </ul>
    </nav>

    <div class="header-btn-box">
      <!-- statick btn -->
      <div class="toggleWrapper">
        <input type="checkbox" class="dn" id="dn" />
        <label for="dn" class="toggle">
          <span class="toggle__handler">
            <span class="crater crater--1"></span>
            <span class="crater crater--2"></span>
            <span class="crater crater--3"></span>
          </span>
          <span class="star star--1"></span>
          <span class="star star--2"></span>
          <span class="star star--3"></span>
          <span class="star star--4"></span>
          <span class="star star--5"></span>
          <span class="star star--6"></span>
        </label>
      </div>
      <!-- desktop btn -->
      <button
        class="header-open-modal-btn"
        type="button"
        aria-label="sign-up-button"
      >
        <span id="btnOpenModal" class="btn-txt">sign up</span>
        <svg class="btn-arrow">
          <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>

      <!-- mobile & tabl btn -->
      <button
        class="header-btn sub js-header-open-modal"
        aria-label="open-mobile-menu-button"
      >
        <svg class="header-btn-svg">
          <use href="./img/symbol-defs.svg#icon-mobile-menu"></use>
        </svg>
      </button>

      <button
        class="header-mobile-close js-header-close is-hidden"
        aria-label="close-mobile-menu-button"
      >
        <svg class="header-mobile-svg">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- mobile header menu -->
  <div class="header-mobile-menu js-mobile-menu">
    <div class="menu-btn-container">
      <ul class="header-nav menu-btn-list is-display">
        <li class="menu-btn-item active-home active">
          <a href="/src/main.html">Home</a>
        </li>

        <li class="menu-btn-item active-shoping">
          <a class="menu-btn-link" href="/src/shoping_list.html"
            >SHOPPING LIST
            <svg class="header-uli-svg">
              <use href="./img/symbol-defs.svg#icon-uil_cart"></use></svg
          ></a>
        </li>
      </ul>
      <button
        class="header-open-modal-btn second"
        type="button"
        aria-label="sign-up-button"
      >
        <span id="btnOpenModal" class="btn-txt">sign up</span>
        <svg class="btn-arrow">
          <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>

    <img class="mobile-img" src="./img/mobile-bgc.png" alt="" />
  </div>
</header>
