<section>
  <div class="shopping-basket">
    <h2 class="shopping-section-title">
      Shopping <span class="shopping-title-item">List</span>
    </h2>
    <div>
      <img src="" alt="book image" />
      <div>
        <div class="schopping-card-top">
          <h3 class="schopping-book-title">I will find you</h3>
          <span class="schopping-book-category">Hardcover fiction</span>
          <button class="shopping-book-delete" type="button">
            <svg height="18" width="18">
              <use href="../img/symbol-defs.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
        <p class="schopping-card-subscribe">
          David Burroughs was once a devoted father to his three-year-old son
          Matthew, living a dream life just a short drive away from the
          working-class suburb where he and his wife, Cheryl, first fell in
          love--until one fateful night when David woke suddenly to discover
          Matthew had been murdered while David was asleep just down the hall.
        </p>

        <div class="schopping-card-bottom">
          <span class="schopping-card-author">Harlan Coben</span>

          <ul class="shopping-icon-list">
            <li class="social-item">
              <a class="shopping-social-link" href="#">
                <img
                  class="shopping-social-icon"
                  src=""
                  alt="amazone"
                  width="48"
                  height="15"
                />
              </a>
            </li>
            <li>
              <a href="">
                <img
                  class="shopping-social-icon"
                  src=""
                  alt="audio book"
                  width="28"
                  height="27"
                />
              </a>
            </li>
            <li>
              <a href="">
                <img
                  class="shopping-social-icon"
                  src=""
                  alt="book"
                  width="32"
                  height="30"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
