<div class="support-box">
  <div class="sup-title-box">
    <h2 class="support-title">Support Ukraine</h2>
    <svg class="ukr-symbol">
      <use href="./img/symbol-defs.svg#icon-ukraine"></use>
    </svg>
  </div>

  <div class="sup-container">
    <ul class="support-list" id="support-list"></ul>
  </div>
  <button
    id="button"
    type="button"
    class="supp-btn"
    aria-label="scroll-down-supports-button"
  >
    <svg class="supp-svg">
      <use href="./img/symbol-defs.svg#icon-scroll-down"></use>
    </svg>
  </button>
</div>
