<div class="support-box">
    <h2 class="support-title">Support Ukraine</h2>
    <svg style="display: none;">
        <use></use>
    </svg>
    <div>
        <ul class="support_list">
            <li class="support_item">
                <p>asdads</p>
            </li>
            <li class="support_item">
                <p>asdads</p>
            </li>
            <li class="support_item">
                <p>asdads</p>
            </li>
            <li class="support_item">
                <p>asdads</p>
            </li>
        </ul>
    </div>
</div>