body {
  background-color: var(--main-backgraund-color);
  font-family: DM Sans;
  color: var(--main-black-color);
}

.dark-theme {
  background-color: var(--secondary-black-color);
  color: #b4afaf;
}

span {
  color: var(--blue-color);
}

.container {
  max-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1392px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: visible;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
