body {
  background-color: var(--body-bg);
  font-family: DM Sans;
  color: var(--main-black-color);
}

.dark-theme {
  background-color: var(--secondary-black-color);
  color: #b4afaf;
}

span {
  color: var(--blue-color);
}

.container {
  max-width: 335px;
  /* padding-left: 10px;
  padding-right: 10px; */
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;

    /* overflow: hidden; */
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1392px;
    overflow: visible;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.categories-wrapper {
}

.side-bar {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 86px;
}

@media screen and (min-width: 768px) {
  .side-bar {
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .side-bar {
    flex-direction: column;
    justify-content: start;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-wrapper {
    display: flex;
    flex-direction: row;
  }
}
