.best-sellers-header {
  margin-top: 40px;
  color: var(--cat-title);
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -1.92px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .best-sellers-header {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .best-sellers-header {
    margin-top: 40px;
  }
}

.best-sellers-second-header {
  margin-bottom: 18px;
  color: var(--pre-title);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  user-select: none;
}

.book-cover-img {
  width: 335px;
}

.best-sellers-books-list {
  display: flex;
  margin-bottom: 40px;
}

.best-sellers-books-list img {
  width: 335px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 14px;
  height: 485px;
}

.book-title {
  color: var(--cat-title);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;

  margin-bottom: 4px;
}
.book-author {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}

@media screen and (min-width: 768px) {
  .best-sellers-list-item img {
    width: 218px;
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .best-sellers-list-item img {
    width: 180px;
    height: 256px;
  }
}

@media screen and (min-width: 768px) {
  .book-cover-img {
    width: 218px;
  }
}

@media screen and (min-width: 1440px) {
  .book-cover-img {
    width: 180px;
  }
}
