.best-sellers-header {
  color: #111;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1.92px;
  margin-bottom: 40px;
}
.header-span {
}
.best-sellers-second-header {
  margin-bottom: 18px;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.best-sellers-list-item {
min-width: 180px;
}


.book-cover-img {
}

.best-sellers-books-list {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.best-sellers-books-list img {
  height: 256px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 14px;
}


.book-title {
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;

  margin-bottom: 4px;
}
.book-author {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}
