.category-section.hidden {
  display: none;
}

.selected-category-books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 996px;
}

.selected-category-books-list img {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  height: 256px;
  margin-bottom: 14px;
}
