.loader {
  width: 100%;
  height: 100%;
  background-color: var(--main-backgraund-color);
  position: fixed;
  z-index: 999;
}

.book-loader {
  width: 100%;
  height: 100%;
  background-color: var(--main-backgraund-color);
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.books-loader-image {
  display: none;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translate(50%, -550%);
  z-index: 950;
}

@media screen and (min-width: 1440px) {
  .books-loader-image {
    display: unset;
    right: -550px;
  }
}

.books-container {
  position: relative;
}

.loader-image {
  width: 150px;
  height: 150px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
  opacity: 0;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}