.backdrop {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    background: rgba(17, 17, 17, 0.40);
    pointer-events: all;
}

.book-popup {
    min-width: 335px;
    padding: 40px 24px;
    background: var(--popup-bg);
    border: 2px solid;
    border-color: var(--popup-border);
    border-radius: 18px;

    position: relative;
}

.icon-book-modal-close {
    stroke: var(--start-icons-and-btn-color);
    margin: -5%;
    padding: 0;
    width: 28px;
    height: 28px;
}

/* перевірити вар  */
.icon-book-modal-close:hover,
.icon-book-modal-close:focus {
    stroke: var(--cat-list-focus-color);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.book-modal-container {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
}

.book-modal-img {
    min-width: 288px;
    margin-bottom: 14px;
    /* margin-left: auto;
    margin-right: auto; */
}


/* .book-modal-close {
    display: none;
} */

@media (min-width: 579px) {
    .book-popup {
        width: 580px;
        padding: 40px 40px 40px;
    }

    .book-modal-container {
        display: flex;
        justify-content: space-between;
    }

    .book-modal-img {
        width: 192px;
        margin-right: 24px;
        margin-bottom: 40px;
    }

    .book-modal-close {
        position: absolute;
        width: 28px;
        height: 28px;
        top: 24px;
        right: 24px;

    }

    .icon-book-modal-close {
        /* width: 28px;
        height: 28px; */
    }
}

.book-modal-btn {
    color: var(--cat-btn-text);
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    background: var(--popup-bg);
    width: 499px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
}

.icon-book-modal-list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.book-modal-title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    color: var(--book-title);
}

.book-modal-author {
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    color: var(--mute-autor);
}

.book-modal-desc {
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    color: var(--book-description);
}