
/* TITLE */

.support-title {
    margin-top: 24px;
    color: var(--main-white-color);
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
    text-align: center;
}

/* BOX */

.support-box {
    width: 335px;
    height: 352px;
    border-radius: 16px;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
}

/* LIST */

.support_list {
    margin-top: 40px;
    margin-left: 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

/* ITEM */

.support_item {
    height: 32px;
}