.swiper {
  width: 335px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .swiper {
    width: 704px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1440px) {
  .swiper {
    width: 996px;
    overflow: hidden;
  }
}

/* .button-box {
  display: none;
} */

.button-box {
  width: 335px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .button-box {
    width: 704px;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .button-box {
    width: 996px;
  }
}

.swiper-button-prev.swiper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  border: 1px solid var(--cat-btn-text);
  border-radius: 8px;
  opacity: 1;
  transition: color 0.25s cubic-bezier(0.53, 0.36, 0.67, 1.07),
    background-color 0.25s cubic-bezier(0.53, 0.36, 0.67, 1.07);
}

.swiper-button-next.swiper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  border: 1px solid var(--cat-btn-text);
  border-radius: 8px;
  opacity: 5;
  transition: color 0.25s cubic-bezier(0.53, 0.36, 0.67, 1.07),
    background-color 0.25s cubic-bezier(0.53, 0.36, 0.67, 1.07),
    fill 250ms var(--cubic);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-btn:hover .next-icon,
.swiper-btn:focus .prev-icon,
.swiper-btn:hover .prev-icon,
.swiper-btn:focus .next-icon {
  fill: var(--cat-list-focus-color);
  width: 50%;
  height: 50%;
  opacity: 1;
  transition: color 0.25s cubic-bezier(0.53, 0.36, 0.67, 1.07),
    background-color 0.25s cubic-bezier(0.53, 0.36, 0.67, 1.07),
    fill 0.25s var(--cubic);
}

.next-icon {
  fill: var(--cat-btn-text);
  width: 40px;
  height: 30px;
  opacity: 0.3;
}

.prev-icon {
  fill: var(--popup-icons);
  width: 40px;
  height: 30px;
  opacity: 0.3;
}

.button-box {
  display: flex;
}

/* @media screen and (min-width: 1440px) {
  .button-box {
    display: flex;
  }
} */
